body {
  background: #3560a0;
}

.login {
  width: 360px;
  margin: auto;
  padding: 8% 0 0;
}

.form {
  background: #ffffff;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  text-align: center; 
  cursor: default;  /* força cursor normal dentro do form */
}


.form h2 {
  margin-bottom: 20px;
  color: #3560a0;
}

.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border-radius: 8px;
  width: 100%;
  border: 2px solid #ccc;   /* 👈 borda padrão */
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s ease; /* suaviza animação */
}

.form input:focus {
  border: 2px solid #3560a0; /* 👈 muda cor quando foca */
  outline: none;
  background: #fff;
}

.form button {
  display: inline-block;
  padding: 15px 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3560a0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.form button:hover {
  background-color: #567096;
}

.form button:active {
  background-color: #3560a0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.imagem {
  width: 175px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}


